# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.db
*.sqlite

# Application Uploads
backup_backendddd/uploads/*
!backup_backendddd/uploads/.gitkeep

# OS specific files
.DS_Store
Thumbs.db
