blinker==1.9.0
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
et_xmlfile==2.0.0
Flask==3.0.3
Flask-Cors==4.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.1.1
MarkupSafe==3.0.3
openpyxl==3.1.5
pillow==12.2.0
python-pptx==1.0.2
reportlab==4.5.1
typing_extensions==4.16.0
Werkzeug==3.1.8
xlsxwriter==3.2.9
gunicorn
